a{
    text-decoration: none;
    color: black;
}
#navBar{
    height: 80px;
    width: 100%;
    padding: 5px;
    font-size: larger;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}
#secondHalf{
    display: flex;
    top: 40px;
    right: 0;
    position: absolute;
    font: 500;
}
#logo{
    display: inline-block;
    font-size: xx-large;
    color:rgb(249 115 22) ;
    margin-left: 20px;
    position: absolute;
    top: 25px;
}
.nav{
    display: block;
    margin-right: 15px;
}
.button1{
    border-color: rgb(249 115 22);
    background-color: white;
    color:rgb(249 115 22) ;
    font-size: large;
    width: 65px;
    justify-content: center;
    border-radius: 6px;
}
.button2{
    background-color: rgb(249 115 22);
    border-color:rgb(249 115 22) ;
    font-size: large;
    width: 80px;
    justify-content: center;
    border-radius: 6px;
}
#outerbox{
    width: 85%;
    height: 500px;
    border: solid;
    border-width: 5px;
    border-color: rgb(249 115 22);
    margin: 50px;
    margin-left: 70px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#buttonSearch{
    background-color: rgb(249 115 22);
    margin-top: 20px;
    height: 30px;
    width: 150px;
    color: white;
    border-color: rgb(249 115 22);
    border-radius: 6px;
}
#search{

    font-size: 70px;
    color: rgb(249 115 22);
}
select{
    height: 50px;
    width: 500px;
    color: rgb(249 115 22);
    border-color: rgb(249 115 22);
    border-width: 2px;
    border-radius: 6px;
    text-align: center;
}
.quote{
    font-size: xx-large;
    font-family: cursive;
    transform: skew(15deg);
    color:rgb(249 115 22) ;
    animation-name: quoteAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes quoteAnimation{
    0% {
        color: rgb(249 115 22);
        font-size: 28px;
    }
    50% {
        color: red;
        font-size: 30px;
    }
    100% {
        color: rgb(249 115 22);
        font-size: 28px;
    }
}