div{
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
button{
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
button:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: black;
}
#navBar{
    height: 80px;
    width: 100%;
    padding: 5px;
    font-size: larger;
    /* background-color: aqua; */
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}
#secondHalf{
    display: flex;
    top: 40px;
    right: 0;
    position: absolute;
    font: 500;
}
#logo{
    display: inline-block;
    font-size: xx-large;
    color:rgb(249 115 22) ;
    margin-left: 20px;
    position: absolute;
    top: 25px;
}
.nav{
    display: block;
    margin-right: 15px;
}
.button1{
    border-color: rgb(249 115 22);
    background-color: white;
    color:rgb(249 115 22) ;
    font-size: large;
    width: 65px;
    justify-content: center;
    border-radius: 6px;
}
.button2{
    background-color: rgb(249 115 22);
    border-color:rgb(249 115 22) ;
    font-size: large;
    width: 80px;
    justify-content: center;
    border-radius: 6px;
}
#outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(249 115 22);
    text-decoration: underline;
}
#ApmtForm{
    background-color: rgb(249 115 22);
    color: white;
    position: relative;
    width: fit-content;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    font-size: x-large;
}
input{
    margin: 10px;
    font-size: x-large;
    border-radius: 6px;
}